<ion-header >
  <ion-toolbar color="light" mode="ios" style="padding-top: 15px;">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="main"></ion-back-button>
      </ion-buttons>
      <ion-searchbar>
      </ion-searchbar>
      <ion-buttons routerLink="/main/tabs/keranjang" slot="primary" class="ion-padding-end">
        <ion-icon slot="icon-only" name="cart-outline" class="icon-toolbar"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-row>
          <ng-container >
            <ion-col size="6" size-sm="4">
              <ion-card class="ion-padding-bottom diskon-item-card">
                <img src="../assets/images/almond-crispy.png" class="diskon-container">
                <ion-card-header class="ion-no-padding diskon-card-header">
                  <ion-text class="ion-text-left ion-no-margin ion-no-padding">
                    <p class="diskon-title">Almond Crispy Cheese Original</p>
                    <p class="diskon-price">Rp. 63.000</p>
                    <p class="diskon-original-container"><span class="diskon-price-original">Rp. 75.000</span><span class="diskon-amount">15%</span></p>
                    <ion-grid class="ion-no-padding ion-no-margin">
                      <ion-row style="margin-top:5px;">
                        <ion-img src="../../../assets/images/places.png" style="width:5%"></ion-img>
                        <ion-text class="diskon-place">
                          Surabaya
                        </ion-text>
                      </ion-row>
                      <ion-row>
                        <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                        <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                        <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                        <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                        <ion-icon name="star-half" color="warning" class="diskon-star"></ion-icon>
                        <ion-text class="diskon-count-star">
                          (6)
                        </ion-text>
                      </ion-row>
                    </ion-grid>
                  </ion-text>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ng-container>
          <ng-container >
            <ion-col size="6" size-sm="4">
              <ion-card class="ion-padding-bottom diskon-item-card">
                <img src="../assets/images/almond-crispy.png" class="diskon-container">
                <ion-card-header class="ion-no-padding diskon-card-header">
                  <ion-text class="ion-text-left ion-no-margin ion-no-padding">
                    <p class="diskon-title">Almond Crispy Cheese Original</p>
                    <p class="diskon-price">Rp. 63.000</p>
                    <p class="diskon-original-container"><span class="diskon-price-original">Rp. 75.000</span><span class="diskon-amount">15%</span></p>
                    <ion-grid class="ion-no-padding ion-no-margin">
                      <ion-row style="margin-top:5px;">
                        <ion-img src="../../../assets/images/places.png" style="width:5%"></ion-img>
                        <ion-text class="diskon-place">
                          Surabaya
                        </ion-text>
                      </ion-row>
                      <ion-row>
                        <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                        <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                        <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                        <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                        <ion-icon name="star-half" color="warning" class="diskon-star"></ion-icon>
                        <ion-text class="diskon-count-star">
                          (6)
                        </ion-text>
                      </ion-row>
                    </ion-grid>
                  </ion-text>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ng-container>
          <ng-container >
            <ion-col size="6" size-sm="4">
              <ion-card class="ion-padding-bottom diskon-item-card">
                <img src="../assets/images/almond-crispy.png" class="diskon-container">
                <ion-card-header class="ion-no-padding diskon-card-header">
                  <ion-text class="ion-text-left ion-no-margin ion-no-padding">
                    <p class="diskon-title">Almond Crispy Cheese Original</p>
                    <p class="diskon-price">Rp. 63.000</p>
                    <p class="diskon-original-container"><span class="diskon-price-original">Rp. 75.000</span><span class="diskon-amount">15%</span></p>
                    <ion-grid class="ion-no-padding ion-no-margin">
                      <ion-row style="margin-top:5px;">
                        <ion-img src="../../../assets/images/places.png" style="width:5%"></ion-img>
                        <ion-text class="diskon-place">
                          Surabaya
                        </ion-text>
                      </ion-row>
                      <ion-row>
                        <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                        <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                        <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                        <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                        <ion-icon name="star-half" color="warning" class="diskon-star"></ion-icon>
                        <ion-text class="diskon-count-star">
                          (6)
                        </ion-text>
                      </ion-row>
                    </ion-grid>
                  </ion-text>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
