<ion-header >
  <ion-toolbar color="light" mode="ios">
    <ion-title>
      Keranjang
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="main/tabs/keranjang"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="align-items:center;padding:15px">
    <div style="margin-bottom: 10px">
      <ion-text>Alamat Pengiriman</ion-text>
    </div>
    <div style="margin-bottom: 5px">
      <ion-text style="font-size:12px">Adimas Kusuma (Rumah)</ion-text>
    </div>
    <div style="margin-bottom: 5px">
      <ion-text style="font-size:12px">085489384893</ion-text>
    </div>
    <div style="margin-bottom: 15px">
      <ion-text style="font-size:12px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</ion-text>
    </div>
    <ion-button color="none" class="btn-pilih-alamat" >Pilih Alamat Lain</ion-button>
  </ion-card>


  <ion-card style="align-items:center;">
    <ion-item class="cart-img" lines="none" style="margin-left:0px;padding-left:0px;margin-top: 5px;margin-bottom: 15px;padding: 0px">
      <ion-img style=" vertical-align:top;width: 30%;margin: 4%;"
               src="https://ecs7.tokopedia.net/img/cache/700/product-1/2020/5/29/3256573/3256573_0de441d4-b9a2-4b32-aa0a-c3a0d787b2ba_1000_1000">
      </ion-img>

      <div>
        <ion-grid>
          <ion-row>
          <span style="font-size:14px;margin-top:2%;margin-bottom:10px;font-weight: bold">
            Almond Crispy Cheese Khas Sur ...
          </span>
          </ion-row>
          <ion-row>
          <span style="margin-bottom:10px;font-size: small;">
            Surabaya
          </span>
          </ion-row>
          <ion-row>
          <span style="font-weight: bold;color:orange;font-size: medium;">
            Rp 63.000
          </span>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

  </ion-card>



  <ion-card style="align-items:center;padding:15px">
    <div style="margin-bottom: 10px">
      <ion-text>Ringkasan Belanja</ion-text>
    </div>

    <ion-grid style="padding:0px;">
      <ion-row style="padding:0px;">
        <ion-text style="width:70%;font-size:12px">Total Harga Barang</ion-text>
        <ion-text style="font-size:12px">Rp 63.000</ion-text>
      </ion-row>
      <ion-row style="margin-top:10px;padding:0px;">
        <ion-text style="width:70%;font-size:12px">Total Ongkos</ion-text>
        <ion-text style="font-size:12px">Rp 18.000</ion-text>
      </ion-row>
      <ion-row style="margin-top:10px;padding:0px;">
        <ion-text style="width:70%;font-size:12px">Poin yang digunakan</ion-text>
        <ion-text style="font-size:12px">Rp 0</ion-text>
      </ion-row>
      <ion-row style="margin-top:10px;padding:0px;">
        <ion-text style="width:70%;font-size:12px">Diskon</ion-text>
        <ion-text style="font-size:12px">Rp 0</ion-text>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div style="background-color:white;padding:10px;position: absolute; box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2); bottom: 0px; width: 100%; height: auto">
    <ion-grid>
      <ion-row>
        <div style="width: 60%">
          <div style="color:black;font-size: small;">
            Total Harga
          </div>
          <div style="font-weight: bold;color:orange;font-size: medium;">
            Rp 81.000
          </div>
        </div>
        <ion-button [routerLink]="['/payment']"color="light" class="round-button">Beli</ion-button>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
