ion-label {
    margin-left: 10px;
}

.label-style {
    font-family: 'Helvetica';
    font-size: 15px;
}

.label-style {
    font-family: 'Helvetica';
    font-size: 17px;
}

.icon-container {
    width: 60px;
    height: 60px;
}