<ion-header >
  <ion-toolbar color="light" mode="ios">
    <ion-title>
      Notifikasi
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="main"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid style="padding: 0px">
    <ion-row>
      <ion-col  style="padding: 0px" size="12" size-sm="8" offset-sm="2">
        <ion-list>
          <ng-container *ngFor="let item of order">
          <ion-item lines="full">
              <ion-thumbnail class="icon-container">
                <img src="{{ item.img1 }}" >
              </ion-thumbnail>
              <ion-label  *ngIf="item.status == 0" class="ion-text-wrap">
                Pesanan nomor {{ item.nomororder }} menunggu pembayaran.
              </ion-label>
              <ion-label  *ngIf="item.status == 1" class="ion-text-wrap">

                Pesanan nomor {{ item.nomororder }} sedang diproses.
              </ion-label>
              <ion-label *ngIf="item.status == 2" class="ion-text-wrap">
                Pesanan nomor {{ item.nomororder }} sedang dikirim.
              </ion-label>
          </ion-item>
        </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
