<ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <ion-button slot="start" routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="main">
    <div>
      <h1 class="title-maroleh">marOleh</h1>
    </div>
  </div>
  <div class="padding">
    <div>
      <div>
        <h1 class="title">Selamat datang,
          <br>
        Muldoko.</h1>
      </div>
    </div>
    <div>
      <div class="geser" routerLink="/main">
        Geser
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </div>
      
    </div>
  </div>
</ion-content>

