<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div>
    <div>
      <h1 class="title">Pemulihan kata<br>sandi</h1>

    </div>
  </div>
  <div>
    <ion-grid class="padding-form"> 
      <ion-row>
        <ion-col>
          <div class="form">
            <ion-input placeholder="Alamat Email"></ion-input>          
          </div>
          <div>
            <div>
              <h1 class="term-of-service" routerLink="/signup">Kami akan mengirimkan pesan untuk memulihkan</h1>
              <h1 class="term-of-service" routerLink="/signup">kata sandi ke alamat email anda.</h1>                  
            </div>
          </div>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <div class="ion-float-right">
          <ion-button slot="end">
            <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
            </ion-button>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
  </div>
</ion-content>
