<ion-header >
  <ion-toolbar color="light" mode="ios">
    <ion-title>
      Pengaturan Akun
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="main/tabs/profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-pengaturan">
    <img class="img-profile" src="assets/images/profile/18.jpg">
    <ion-buttons class="btn-upload">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-buttons>
  </div>
  <div class="text-pengaturan">
    
    <ion-item>
      <ion-label class="text-label" position="floating">Nama</ion-label>
      <ion-input clas="text-input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text-label" position="floating">Tanggal Lahir</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text-label" position="floating">Jenis Kelamin</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text-label" position="floating">Alamat</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text-label" position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text-label" position="floating">Nomor HP</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <div class="btn-pengaturan">
      <ion-button slot="end" class="btn-submit">Ubah</ion-button>
    </div>
  </div>

</ion-content>
