<ion-header >
  <ion-toolbar color="light" mode="ios">
    <ion-title>
      Pembayaran
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="cart/cart-detail"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <div style="font-size: 15px;color: gray">Pilih Metode Pembayaran</div>
  </ion-item>


  <ion-item style="padding: 0px;margin: 0px" lines="full" *ngFor="let item of bank;" [routerLink]="['/payment/payment-method-detail', item.id]">

      <ion-img style="padding: 0px; margin-right:10px;vertical-align:top;width: 70px;height:auto"
               src="{{ item.logo }}">
      </ion-img>
      <div style="width:60%;font-size: 15px">{{ item.nama }}</div>
      <ion-icon color="light" style="margin-left:auto;vertical-align:middle;" name="chevron-forward-outline"></ion-icon>

  </ion-item>

</ion-content>
