#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-title {
    font-family:'Helvetica';
    font-size: 17px;
  }
  
  ion-toolbar {
    --background: #000000;
    color: #FFFFFF;
  }
  
  ion-content {
    --background-color: linear-gradient(rgba(255,255,255,1) 100%) !important;
  }
  
  ion-card {
    border-radius: 25px;
    box-shadow:0px;
  }

  .back-profile{
    height: 120px;
    width: 100%;
    background-color: #000000;
  }

  .photo-profile{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    width: 85px;
    border-radius: 50%;
  }
  
  .profile{
    float: left;
    margin-left: 15px;
    padding-top: 28px;
  }

  .name-profile{
    font-family:'Helvetica';
    font-size: 20px;
    color: #FFFFFF;
  }

  .email-profile{
    display: flex;
    padding-top: 1px;
    font-family:'Helvetica';
    font-size: 15px;   
    color: #CCCCCC;
  }

  .saldo-poin {
    width:85%;
    height:100px;
    border-radius:30px;
    box-shadow:3px 3px 8px #888888;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color:#FFFFFF;
    padding-left:16px;
    padding-top:8px;
  }

  .saldo{
    float:left;
    height:70px;
    width: 48%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .saldo-img{
    padding-top: 1px;
    float: left;
    width: 18px;
    color:#000000;
  }

  .text-saldo{
    padding-left: 5px;
    font-family:'Helvetica';
    font-size: 18px;
    font-weight: bold;
    color:#000000;
  }

  .text-saldo-nominal{
    display: flex;
    padding-top: 5px;
    font-family:'Helvetica';
    font-size: 14px;
    color:#646464;
  }

  .line-vertical-img{
    padding-top: 20px;
    float: left;
    width: 5px;
  }

  .pesanan {
    width:85%;
    height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
  }

  .text-pesanan{
    font-family:'Helvetica';
    font-size: 18px;
    font-weight: bold;
    color:#000000;
  }

  .grid-pesanan{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;  
  }

  .pesanan-img{
    width: 50px;
  }

  .text-pesanan-detail{
    font-family:'Helvetica';
    font-size: 14px;
    color:#000000;
    width: 80px;
  }

  hr.line-horizontal{
    border-top: 1.9px solid black;
  }

  .list{
    width:85%;
    height:220px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:-8px;
    background-color:#FFFFFF;
  }

  .item{
    margin-left: -16px;
  }

  .label{
    width: 75%;
  }

  .text-list{
    font-family:'Helvetica';
    font-size: 16px;
    color:#000000;
  }

  .text-list-detail{
    display: flex;
    font-family:'Helvetica';
    padding-top: 1px;
    font-size: 12px;
    color:#646464;
  }

  .siku{
    color:#646464;
    margin-right: -4px;
    font-size: 16px;
  }

  ion-item{
    --inset-highlight-height:0.8px;
    --highlight-background:#000000;
  }

  .rekomendasi{
    width:85%;
    height:190px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

  .rekomendasi-card-header {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .rekomendasi-item-slides {
    padding-left:3%;
  }
  
  .rekomendasi-title {
    font-size: 8px;
    font-family: 'Helvetica';
  }
  
  .rekomendasi-price {
    font-size: 10px;
    font-family: 'Helvetica';
    margin-top:8px;
    margin-bottom:0px;
    color: #F89208;
    font-weight: bold;
  }
  
  .rekomendasi-original-container {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .rekomendasi-price-original {
    text-decoration: line-through;
    color: #B4B4B4;
    font-size: 8px;
    font-family: 'Helvetica';
    font-weight: bold;
  }
  
  .rekomendasi-amount {
    border-radius:25px;
    background-color: #FFE3E3;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left:3px;
    color: #F70000;
    font-size: 6px;
    font-family: 'Helvetica';
    font-weight: bold;
  }
  
  .rekomendasi-place {
    font-size: 6px;
    font-weight:bold;
    font-family: 'Helvetica';
    margin-left: 3px;
  }
  
  .rekomendasi-star {
    font-size: 10px;
  }
  
  .rekomendasi-count-star {
    font-size: 6px;
    font-weight:bold;
    font-family: 'Helvetica';
    margin-left: 3px;
    margin-top: 2px
  }
  
  .note-item-card {
    height: 250px;
    width: 100%;
  }
  
  

    