<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/login" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div>
    <div>
      <h1 class="title">Registasi</h1>
    </div>
  </div>
  <div>
    <form class="form" #f="ngForm" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
      <ion-grid class="padding-form"> 
        <ion-row >
          <ion-col>
            <div class="forminput">
              <ion-input placeholder="Nama Depan" formControlName="namadepan"></ion-input>          
            </div>
          </ion-col>
          <ion-col>
            <div class="forminput">
              <ion-input placeholder="Nama Belakang" formControlName="namabelakang"></ion-input>
            </div>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col>
          <div class="forminput">
            <ion-input placeholder="Alamat Email" formControlName="email"></ion-input>          
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message"
                *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="forminput">
            <ion-input type="password" placeholder="Kata Sandi" formControlName="password"></ion-input>          
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages. password">
              <div class="error-message"
                *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="forminput">
            <ion-input type="password" placeholder="Konfirmasi Sandi" formControlName="confirmpassword"></ion-input>          
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <div class="forminput">
            <ion-input type="number" placeholder="Nomor Telepon" formControlName="notelepon"></ion-input>
          </div>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <div class="ion-float-right">
          <div class="btn-daftar">
            <ion-button slot="end" class="btn-submit" type="submit" [disabled]="!validations_form.valid">Daftar</ion-button>
            <label class="error-message">{{errorMessage}}</label>
            <label class="success-message">{{successMessage}}</label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-input placeholder="tgllahir" formControlName="tgllahir" hidden></ion-input>
    <ion-input placeholder="jeniskelamin" formControlName="jeniskelamin" hidden></ion-input>
    <ion-input placeholder="foto" formControlName="foto" hidden></ion-input>
    <ion-input placeholder="alamat" formControlName="alamat" hidden></ion-input>
  </ion-grid>
</form>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <h1 class="term-of-service" routerLink="/signup">Dengan mendaftar anda telah menyetujui</h1>
            <h1 class="term-of-service" routerLink="/signup">ketentuan dan aturan dari <b>marOleh</b></h1>                  
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>

</ion-content>
