<ion-header >
  <ion-toolbar color="light" mode="ios">
    <ion-title>
      Pembayaran
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of bankItems">
  <ion-card style="align-items:center;padding:15px">
    <div style="text-align:center;margin-bottom: 20px">
      <ion-text>Segera lakukan pembayaran dalam waktu</ion-text>
    </div>
    <div style="text-align:center;margin-bottom: 20px">
      <ion-text style="font-size:large">23 Jam : 59 Menit : 58 Detik</ion-text>
    </div>
    <div style="text-align:center;margin-bottom: 10px">
      <ion-text style="font-size: 11px">Sebelum tanggal 23 Januari 2022 (15:21 WIB)</ion-text>
    </div>
  </ion-card>

  <ion-card style="align-items:center;padding:15px">
    <div style="margin-bottom: 20px">
      <ion-text>Transfer ke nomor {{item.nama}} : </ion-text>
    </div>


        <ion-item class="cart-img" lines="none" style="margin-left:0px;padding-left:0px;margin-top: 5px;margin-bottom: 15px;padding: 0px">
          <ion-img style=" vertical-align:top;width: 30%;"
                   src="{{item.logo}}"></ion-img>

          <div>
            <ion-grid style="margin-left:20px;padding: 0px">
              <ion-row>
          <span style="font-size:14px;margin-bottom:10px;">
            {{item.nomor}}
          </span>
              </ion-row>
              <ion-row (click)="presentAlert()">
          <span style="margin-bottom:10px;font-size: small;font-weight: bold">
            Salin Nomor Rekening
          </span>
                <ion-icon color="light" style="margin-left:5px;vertical-align:middle;" name="copy-outline"></ion-icon>
              </ion-row>
            </ion-grid>
          </div>
        </ion-item>

    <div style="margin-bottom: 10px">
      <ion-text>Jumlah yang harus dibayar :  </ion-text>
    </div>

    <span style="font-weight: bold;color:orange;font-size: medium;">
            Rp {{totalFix}}
          </span>

  </ion-card>

  <div style="padding:10px;position: absolute; box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2); bottom: 0px; width: 100%; height: auto">
    <ion-button expand="full" (click)="clearCart()" style="margin:0px;border:0px;text-transform: none" color="light">OK</ion-button>
  </div>

</ion-content>
