<ion-header no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="home" color="light"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary" class="ion-padding-end">
        <ion-icon slot="icon-only" name="cart-outline" class="icon-toolbar"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="page-container">
      <ion-slides [options]="slideOpts" class="carousel-slides">
        <ion-slide>
          <ion-card class="carousel-card">
            <img src="../assets/images/detail-product/carou1.jpg">
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card class="carousel-card">
            <img src="../assets/images/detail-product/carou2.jpg">
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card class="carousel-card"> 
            <img src="../assets/images/detail-product/carou3.jpg">
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </ion-content>
</ion-content>
