<ion-header no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="home" color="light"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary" class="ion-padding-end">
        <ion-icon slot="icon-only" name="cart-outline" class="icon-toolbar"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <div class="page-container">
      <ion-slides [options]="slideOpts" class="carousel-slides">
        <ion-slide>
            <img src="../assets/images/detail-product/carou1.jpg">
        </ion-slide>
        <ion-slide>
            <img src="../assets/images/detail-product/carou2.jpg">
        </ion-slide>
        <ion-slide>
            <img src="../assets/images/detail-product/carou3.jpg">
        </ion-slide>
      </ion-slides>
    </div>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <h1 class="harga-item">Rp 98.500</h1>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-float-right">
              <ion-icon name="heart-outline" style="zoom:2.0;"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="padding">
          <div>
            <h1 class="judul-item">Almond Crispy Cheese Original</h1>
          </div>
        </ion-row>
        <ion-row class="padding">
          <ion-col size="3">
            <div>
              <h1 class="terjual">Terjual 124</h1>
            </div>
          </ion-col>
          <ion-col size="0">
            <ion-icon name="star" color="warning"></ion-icon>          
          </ion-col>
          <ion-col size="2">
            <div>
              <h1 class="rating">4.9</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="0">
            <div>
              <ion-icon name="location" color="medium"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="4">
            <h1 class="lokasi">Yogyakarta</h1>
          </ion-col>
        </ion-row>
        <ion-item-divider style="margin-top: -20px; margin-bottom: 15px;">
        </ion-item-divider>
        <ion-row>
          <ion-col>
            <div>
              <h1 class="informasi-judul">Informasi Produk</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-row> 
          <ion-col>
            <div>
              <h1 class="informasi-item">Berat</h1>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-float-right">
              <h1 class="informasi-item">400g</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-row> 
          <ion-col>
            <div>
              <h1 class="informasi-item">Kondisi</h1>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-float-right">
              <h1 class="informasi-item">Baru</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-row> 
          <ion-col>
            <div>
              <h1 class="informasi-item">Minimal Pemesanan</h1>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-float-right">
              <h1 class="informasi-item">1 Buah</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-row> 
          <ion-col>
            <div>
              <h1 class="informasi-item">Kategori Item</h1>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-float-right">
              <h1 class="informasi-item">Makanan</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-item-divider style="margin-top: -10px; margin-bottom: 15px;">
        </ion-item-divider>
        <ion-row>
          <ion-col>
            <div>
              <h1 class="informasi-judul">Deskripsi Produk</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <h1 class="informasi-item">Almond Crispy Cheese ini merupakan snack yang dibuat home made
                dan salah satu snack khas Surabaya yang tidak boleh dilewatkan
                untuk dicoba. Paduan kacang almond dan keju disetiap lembaran
                tipisnya membuat kita ketagihan dan tidak bisa berhenti menikmatinya.</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-item-divider style="margin-top: -10px; margin-bottom: 15px;">
        </ion-item-divider>
        <ion-row>
          <ion-col>
            <div>
              <h1 class="informasi-judul">Produk serupa di toko ini </h1>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="ion-float-right">
              <h1 class="lihat-semua">Lihat semua</h1>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- carousel di bawah -->
    <div>      
      <ion-slides [options]="slideOpts2" class="diskon-item-slides ion-margin-bottom">
        <ion-slide class="diskon-item-slide">
          <ion-card class="ion-padding-bottom diskon-item-card">
            <img src="../assets/images/wayang.png">
            <ion-card-header class="ion-no-padding diskon-card-header">
              <ion-text class="ion-text-left ion-no-margin ion-no-padding">
                <p class="diskon-title">Satuempat Central Kerajinan Miniatur Wayang Kulit Rama Shinta - Batik</p>
                <p class="diskon-price">Rp. 98.500</p>
                <p class="diskon-original-container"><span class="diskon-price-original">Rp. 153.000</span><span class="diskon-amount">35%</span></p>
                <ion-grid class="ion-no-padding ion-no-margin">
                  <ion-row style="margin-top:5px;">
                    <ion-img src="../assets/images/places.png" style="width:5%"></ion-img>
                    <ion-text class="diskon-place">
                      Yogyakarta
                    </ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star-half" color="warning" class="diskon-star"></ion-icon>
                    <ion-text class="diskon-count-star">
                      (6)
                    </ion-text>
                  </ion-row>
                </ion-grid>
              </ion-text>
            </ion-card-header>
          </ion-card>
        </ion-slide>
        <ion-slide class="diskon-item-slide">
          <ion-card class="ion-padding-bottom diskon-item-card">
            <img src="../assets/images/almond-crispy.png">
            <ion-card-header class="ion-no-padding diskon-card-header">
              <ion-text class="ion-text-left ion-no-margin ion-no-padding">
                <p class="diskon-title">Almond Crispy Cheese Original</p>
                <p class="diskon-price">Rp. 63.000</p>
                <p class="diskon-original-container"><span class="diskon-price-original">Rp. 75.000</span><span class="diskon-amount">15%</span></p>
                <ion-grid class="ion-no-padding ion-no-margin">
                  <ion-row style="margin-top:5px;">
                    <ion-img src="../assets/images/places.png" style="width:5%"></ion-img>
                    <ion-text class="diskon-place">
                      Surabaya
                    </ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star-half" color="warning" class="diskon-star"></ion-icon>
                    <ion-text class="diskon-count-star">
                      (6)
                    </ion-text>
                  </ion-row>
                </ion-grid>
              </ion-text>
            </ion-card-header>
          </ion-card>
        </ion-slide>
        <ion-slide class="diskon-item-slide">
          <ion-card class="ion-padding-bottom diskon-item-card">
            <img src="../assets/images/kartika-sari.png">
            <ion-card-header class="ion-no-padding diskon-card-header">
              <ion-text class="ion-text-left ion-no-margin ion-no-padding">
                <p class="diskon-title">Brownies Kartika Sari</p>
                <p class="diskon-price">Rp 96.000</p>
                <p class="diskon-original-container"><span class="diskon-price-original">Rp. 105.000</span><span class="diskon-amount">5%</span></p>
                <ion-grid class="ion-no-padding ion-no-margin">
                  <ion-row style="margin-top:5px;">
                    <ion-img src="../assets/images/places.png" style="width:5%"></ion-img>
                    <ion-text class="diskon-place">
                      Bandung
                    </ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star-half" color="warning" class="diskon-star"></ion-icon>
                    <ion-text class="diskon-count-star">
                      (6)
                    </ion-text>
                  </ion-row>
                </ion-grid>
              </ion-text>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- end of carousel -->
  </ion-content>
</ion-content>
