<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      marOleh
    </ion-title>
    <ion-buttons [routerLink]="['/main/tabs/keranjang']" slot="primary" class="ion-padding-end">
      <ion-icon  slot="icon-only" name="cart-outline" class="icon-toolbar"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <div class="page-container">
    <ion-searchbar> 
    </ion-searchbar>
    <ion-slides [options]="slideOpts" class="carousel-slides ion-margin-top">
      <ion-slide>
        <ion-card class="carousel-card">
          <img src="../assets/images/carousel-1.png">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="carousel-card">
          <img src="../assets/images/carousel-2.png">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="carousel-card"> 
          <img src="../assets/images/carousel-2.png">
        </ion-card>
      </ion-slide>
    </ion-slides>
    <div class="poin ion-margin-top">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>
          <ion-img src="../assets/images/poin-star.png" style="width:18px"></ion-img>
          <ion-text class="poin-text">
            Poin Saya 0 pts
          </ion-text>
        </ion-row>
      </ion-grid>
    </div>
    <div class="ion-padding-horizontal ion-padding-top segment" style="height:19em">
      <ion-segment value="favorit" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="favorit">
          <ion-label class="ion-text-capitalize segment-label">Favorit Kamu</ion-label>
        </ion-segment-button>
        <ion-segment-button value="daerah">
          <ion-label class="ion-text-capitalize segment-label">Daerah</ion-label>
        </ion-segment-button>
      </ion-segment>

      <!-- SEGMENT FAVORIT -->
      <ion-grid *ngIf="!segmentChecker">
        <!-- BARIS PERTAMA -->
        <ion-row style="margin-top:10px;">
          <ion-col size="3" class="col-container" routerLink="/home/sub-item/makanan">
            <div class="icon-container">
              <ion-img class="icon-img" src="../assets/images/spoon-and-fork.png" style="width:65%"></ion-img>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="icon-container" routerLink="/home/sub-item/pakaian">
              <ion-img class="icon-img" src="../assets/images/hanger.png" style="width:65%"></ion-img>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="icon-container" routerLink="/home/sub-item/aksesoris">
              <ion-img class="icon-img" src="../assets/images/earrings-2.png" style="width:65%"></ion-img>
            </div>         
          </ion-col>
          <ion-col size="3">
            <div class="icon-container" routerLink="/home/sub-item/sepatu">
              <ion-img class="icon-img" src="../assets/images/shoe.png" style="width:65%"></ion-img>
            </div>            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" class="icon-label ion-text-center" >
            Makanan & Minuman
          </ion-col>
          <ion-col size="3" class="icon-label ion-text-center">
            Pakaian
          </ion-col>
          <ion-col size="3" class="icon-label ion-text-center">
            Aksesoris
          </ion-col>
          <ion-col size="3" class="icon-label ion-text-center">
            Sepatu
          </ion-col>
        </ion-row>
        <!-- BARIS KEDUA -->
        <ion-row>
          <ion-col size="3" class="col-container">
            <div class="icon-container" routerLink="/home/sub-item/peralatan">
              <ion-img class="icon-img" src="../assets/images/equipment.png" style="width:65%"></ion-img>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="icon-container" routerLink="/home/sub-item/hobi">
              <ion-img class="icon-img" src="../assets/images/ukelele.png" style="width:65%"></ion-img>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="icon-container" routerLink="/home/sub-item/perawatan">
              <ion-img class="icon-img" src="../assets/images/skincare.png" style="width:65%"></ion-img>
            </div>         
          </ion-col>
          <ion-col size="3">
            <div class="icon-container" routerLink="/home/sub-item/kesehatan">
              <ion-img class="icon-img" src="../assets/images/bowl.png" style="width:65%"></ion-img>
            </div>            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" class="icon-label ion-text-center">
            Peralatan
          </ion-col>
          <ion-col size="3" class="icon-label ion-text-center">
            Hobi & Koleksi
          </ion-col>
          <ion-col size="3" class="icon-label ion-text-center">
            Perawatan & Kecantikan
          </ion-col>
          <ion-col size="3" class="icon-label ion-text-center">
            Kesehatan
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- SEGMENT DAERAH -->
      <ion-grid *ngIf="segmentChecker">
        <!-- BARIS PERTAMA -->
        <ion-row style="margin-top:10px;">
          <ion-col size="3" class="col-container" routerLink="/home/sub-city/aceh">
              <ion-img class="icon-img" src="../assets/images/aceh.png" style="width:65px"></ion-img>
          </ion-col>
          <ion-col size="3" routerLink="/home/sub-city/bali">
              <ion-img class="icon-img" src="../assets/images/bali.png" style="width:65px"></ion-img>
          </ion-col>
          <ion-col size="3" routerLink="/home/sub-city/jawa-barat">
              <ion-img class="icon-img" src="../assets/images/bandung.png" style="width:65px"></ion-img>
          </ion-col>
          <ion-col size="3" routerLink="/home/sub-city/sumatera-barat">
              <ion-img class="icon-img" src="../assets/images/bukittinggi.png" style="width:65px"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" class="icon-label ion-text-center">
            Aceh
          </ion-col>
          <ion-col size="3" class="icon-label ion-text-center">
            Bali
          </ion-col>
          <ion-col size="3" class="icon-label ion-text-center">
            Jawa Barat
          </ion-col>
          <ion-col size="3" class="icon-label ion-text-center">
            Sumatera Barat
          </ion-col>
        </ion-row>
        <!-- BARIS KEDUA -->
        <ion-row>
          <ion-col size="3" class="col-container" routerLink="/home/sub-city/jakarta">
              <ion-img class="icon-img" src="../assets/images/jakarta.png" style="width:65px"></ion-img>
          </ion-col>
          <ion-col size="3" routerLink="/home/sub-city/yogyakarta">
              <ion-img class="icon-img" src="../assets/images/magelang.png" style="width:65px"></ion-img>
          </ion-col>
          <ion-col size="3" routerLink="/home/sub-city/jawa-tengah">
              <ion-img class="icon-img" src="../assets/images/semarang.png" style="width:65px"></ion-img>
          </ion-col>
          <ion-col size="3" routerLink="/home/sub-city/jawa-timur">
              <ion-img class="icon-img" src="../assets/images/surabaya.png" style="width:65px"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" class="icon-label ion-text-center">
            Jakarta
          </ion-col>
          <ion-col size="3" class="icon-label ion-text-center">
            Yogyakarta
          </ion-col>
          <ion-col size="3" class="icon-label ion-text-center">
            Jawa Tengah
          </ion-col>
          <ion-col size="3" class="icon-label ion-text-center">
            Jawa Timur
          </ion-col>
        </ion-row>
    </ion-grid>
    </div>
    <div class="home-subtitle">
      <ion-text class="ion-text-left">
        Promo
      </ion-text>
    </div>
    <img src="../assets/images/sale-offer.png" class="ion-no-margin ion-no-padding img-promo">
    <div class="home-subtitle">
      <ion-text class="ion-text-left">
        Diskon
      </ion-text>
    </div>
      <ion-slides [options]="slideOpts2" class="diskon-item-slides ion-margin-bottom">
        <ion-slide class="diskon-item-slide">
          <ion-card class="ion-padding-bottom diskon-item-card">
            <img src="../assets/images/wayang.png">
            <ion-card-header class="ion-no-padding diskon-card-header">
              <ion-text class="ion-text-left ion-no-margin ion-no-padding">
                <p class="diskon-title">Satuempat Central Kerajinan Miniatur Wayang Kulit Rama Shinta - Batik</p>
                <p class="diskon-price">Rp. 98.500</p>
                <p class="diskon-original-container"><span class="diskon-price-original">Rp. 153.000</span><span class="diskon-amount">35%</span></p>
                <ion-grid class="ion-no-padding ion-no-margin">
                  <ion-row style="margin-top:5px;">
                    <ion-img src="../assets/images/places.png" style="width:5%"></ion-img>
                    <ion-text class="diskon-place">
                      Yogyakarta
                    </ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star-half" color="warning" class="diskon-star"></ion-icon>
                    <ion-text class="diskon-count-star">
                      (6)
                    </ion-text>
                  </ion-row>
                </ion-grid>
              </ion-text>
            </ion-card-header>
          </ion-card>
        </ion-slide>
        <ion-slide class="diskon-item-slide">
          <ion-card class="ion-padding-bottom diskon-item-card">
            <img src="../assets/images/almond-crispy.png">
            <ion-card-header class="ion-no-padding diskon-card-header">
              <ion-text class="ion-text-left ion-no-margin ion-no-padding">
                <p class="diskon-title">Almond Crispy Cheese Original</p>
                <p class="diskon-price">Rp. 63.000</p>
                <p class="diskon-original-container"><span class="diskon-price-original">Rp. 75.000</span><span class="diskon-amount">15%</span></p>
                <ion-grid class="ion-no-padding ion-no-margin">
                  <ion-row style="margin-top:5px;">
                    <ion-img src="../assets/images/places.png" style="width:5%"></ion-img>
                    <ion-text class="diskon-place">
                      Surabaya
                    </ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star-half" color="warning" class="diskon-star"></ion-icon>
                    <ion-text class="diskon-count-star">
                      (6)
                    </ion-text>
                  </ion-row>
                </ion-grid>
              </ion-text>
            </ion-card-header>
          </ion-card>
        </ion-slide>
        <ion-slide class="diskon-item-slide">
          <ion-card class="ion-padding-bottom diskon-item-card">
            <img src="../assets/images/kartika-sari.png">
            <ion-card-header class="ion-no-padding diskon-card-header">
              <ion-text class="ion-text-left ion-no-margin ion-no-padding">
                <p class="diskon-title">Brownies Kartika Sari</p>
                <p class="diskon-price">Rp 96.000</p>
                <p class="diskon-original-container"><span class="diskon-price-original">Rp. 105.000</span><span class="diskon-amount">5%</span></p>
                <ion-grid class="ion-no-padding ion-no-margin">
                  <ion-row style="margin-top:5px;">
                    <ion-img src="../assets/images/places.png" style="width:5%"></ion-img>
                    <ion-text class="diskon-place">
                      Bandung
                    </ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star" color="warning" class="diskon-star"></ion-icon>
                    <ion-icon name="star-half" color="warning" class="diskon-star"></ion-icon>
                    <ion-text class="diskon-count-star">
                      (6)
                    </ion-text>
                  </ion-row>
                </ion-grid>
              </ion-text>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    </ion-content>
  </ion-content>
  <ion-footer (click)="logout()">
    <ion-toolbar color="secondary">
      <ion-title>Log out</ion-title>
    </ion-toolbar>
  </ion-footer>

