<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      marOleh
    </ion-title>
    <ion-buttons slot="primary" class="ion-padding-end">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-searchbar> 

    </ion-searchbar>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card>
          <img src="../assets/images/carousel-1.png">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../assets/images/carousel-2.png">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../assets/images/carousel-2.png">
        </ion-card>
      </ion-slide>
    </ion-slides>
    <div class="poin ion-margin-top">
      <ion-text>
        asd
      </ion-text>
    </div>
  </ion-content>
</ion-content>
